body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.body {
  min-height: calc(100vh - 135px);
}

.hidden {
  display: none !important;
}

.pokerLogo {
  margin-top: -126px;
  margin-bottom: -40px;
  width: 100%;
}

.footerText {
  display: flex;
  width: 100%;
  justify-content: center;
}
