[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
boto3 = "*"
marshmallow-dataclass = "*"
simplejson = "*"

[dev-packages]

[requires]
python_version = "3.9"
